:root{
  --test-text-color: blue;
  --new-color: green;
}

@font-face {
  font-family: mariof;
  src: url(Mario-Kart-DS.ttf);
  color: white;
}

h1{
  font-family: mariof;
  font-size: 4vw;
  color: white;
}

body {
  /*background-color: var(--test-text-color);*/
  background-image: url(./images/kartbg.jpg);
  background-size: 100%;
  align-content: center;
}
.photo-section {
  max-width:120em;
  margin:0 auto;
  padding:6% 2%;
  height: auto;
  float: left;
   border: 4px solid red;
}

.photo-grid {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 60%;
}

/* .photo-grid:after {
  clear: both;
} */

/* .photo-grid:after,
.photo-box:before {
  content: '';
    display: table;
} */

.photo-grid li {
  width: 200px;
  height: 200PX;
  display: inline-block;
  margin: 20px;
  float: left;
  display: block;
  background-size: cover;
}

.photo-box {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
  -moz-transition:  0.3s ease-in-out,
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out,
    transform 0.3s ease-in-out, ;
}

.photo-box:hover {
  transform: scale(1.05);
  border: 3px outset yellow;
}
#{
  float: left;
}
#mario:hover ~ #b {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(./images/mario.gif);
     background-repeat: no-repeat; 
}
#toad:hover ~ #b{
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(./images/toad.gif);
}
#luigi:hover ~ #b{
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(./images/luigi.gif);
}
#koopa:hover ~ #b{
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(./images/koopa.gif);
}
#daisy:hover ~ #b{
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(./images/daisy.gif);
     background-repeat: no-repeat; 
}
#yoshi:hover ~ #b{
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(./images/yoshi.gif);
}
/* .chang-color{
  ba: var(--test-text-color);
} */
.player_name{
  top: -100em;
}

#b{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative; 
  height: 500px;
  width: 450px; 
  border: 5px solid blue;
  right: -1300px;
  border-radius: 5px;
}

.photo-img-1 {
 background:
    linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(./images/mario.gif);
}

.photo-img-2 {
 background:
    linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(./images/toad.gif);
}

.photo-img-3 {
 background:
    linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(./images/luigi.gif);
}

.photo-img-4 {
 background:
    linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(./images/koopa.gif);
}
.photo-img-5 {
 background:
    linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(./images/daisy.gif);
}
.photo-img-6 {
 background:
    linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url(./images/yoshi.gif);
}